<div  class='col-md-12'>
  <div class='row'>
    <fieldset class="col-12 no-border-bottom">
      <div id="upload-zone">
        <%= form_for [:admin, @digital_asset], html: { class: 'form-horizontal', id: 'new_multiple_digital_asset_form' }, multipart: true, remote: true, format: :js, authenticity_token: true do |f| %>
          <label class="upload">
            <i class="icon icon-cloud icon-xxl"></i>
            <p>
              <span class="button"><%= t('.choose_files') %></span>
            </p>
            <p>
              <%= t('.drag_and_drop') %>
            </p>

            <%= f.file_field :attachment, multiple: false, class: 'hidden' %>
            <input type="hidden" value='<%= @digital_asset.id %>' name="image[viewable_id]" id="image_viewable_id">
          </label>
        <% end %>
      </div>

      <div id="progress-zone" class="row"></div>
    </fieldset>
  </div>

  <div class="row">
    <div id='folder_assets' data-current="<%= @current_folder.try(:id) %>"class='col-md-9' data-next-url='<%= digital_assets_next_page_path(@digital_assets, @current_folder) %>'>
      <% @current_folder_children.each do |folder| %>
        <%= render partial: 'spree/admin/shared/folder_area', locals: { folder: folder }  %>
      <% end %>
      <%= render partial: 'spree/admin/shared/digital_asset', collection: @digital_assets %>
    </div>
    <div class="col-md-3  asset-details hide">
      <div class="panel panel-default">
      <div class="panel-heading"><strong id="asset-name"></strong></div>
      <div class="panel-body">
          <p><strong>File Size: </strong><span id='file-size'></span></p>
          <p><strong>Added On: </strong><span id='created-date'></span></p>
          <p><strong>Modified On: </strong><span id="modified-date"></span></p>
          <p><strong>Related Products:</strong></p>
          <p id='related-products' class="pl15"></p>
        </div>
      </div>
    </div>
  </div>
</div>
